body {
	font-family: Georgia;
	text-align: center;
	margin: 2em 0 0 0;
	vertical-align: middle;
}
a {
	color: #990000;
  text-decoration: none;
}
#content {
	width: 900px;
	text-align: left;
	margin: 0 auto;
	font-size: 1em;
}
h1, h2, h3 {
  font-weight: normal;
}
h2, h3 {
  font-style: italic;
}
h1 {
	font-size: 2em;
}
h2 {
  font-size: 1.2em;
  font-style: italic;
  color: #666666;
}
h3 {
  font-size: 1.4em;
}
p {
  margin: 2em 0em 1em 0em;
}
#map {
  width: 900px;
  height: 500px;
}
#footer {
  font-size: .8em;
  color: #666666;
  border-top: 1px solid #666666;
  border-color: #666666;
  padding: .5em 0 0 0;
  margin: 4em 0 0 0;
}
.nav {
  font-size: .8em;
  font-style: italic;
  margin: .5em 0em 2em 0em;
}
.nav-left {
  float: left;
  margin: 0em 2em 0em 0em;
}
.nav-right {
  float: right;
}
.leaflet-popup-content {
  font-family: Georgia;
  font-size: .8em;
}
.leaflet-popup-content a {
  color: #990000;
}
.next {
  font-style: italic;
  width: 100%;
  text-align: right;
}
.leaflet-container .leaflet-control-attribution {
  font-family: Georgia;
  color: #666666;
  position: relative;
}
.leaflet-bottom {
  top: 0px;
}
.leaflet-container .leaflet-control-attribution a {
  color: #990000;
}
